.jumbotron{
	background-color:#59544f; 
	font-family: Arial;
}

.side-menu {
	list-style-type:none;
}

footer{
	height: 30px;
	background-color:#5f5954;
	color:#b2b2cd;
}



body{
	background-color:black;
	color:white;
}

.main-content {
	margin-top: 70px;
	margin-bottom:30px;
	/*background-image: url("../images/planets_stars_asteroids_galaxies_59616_1920x1080.jpg");*/
	
}

#pics img {

	height:auto; 
	width:100%;
}

h1 {
	text-align: center;
}
p {
	text-align: justify;
}



#planet-menu a {
	color:#c3bfbb;
}

#planet-menu li {
	background-color:#59544f;
	border-radius:5px; 
}

.modal-content {

	background-color: #9f9893;
	color:#e7e5e4;
}

.item {
	background-color: #9f9893;

}